<h1 class="text-center mt-4">New Entry</h1>

<div class="container mt-4">
   <div class="card shadow-sm">
     <div class="card-body">
       <form action="/entries" method="post" enctype="multipart/form-data">
         <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <div class="mb-3">
     <label for="title_input" class="form-label">Title</label>
     <input type="text" name="title" id="title_input" class="form-control" required>
  </div>

  <div class="mb-3">
     <label for="description_input" class="form-label">Description</label>
     <textarea name="description" id="description_input" rows="4" class="form-control" required></textarea>
  </div>

  <div class="mb-3">
     <label for="occurred_on_input" class="form-label">Occurred On</label>
     <input type="date" name="occurred_on" id="occurred_on_input" class="form-control" required>
  </div>

  <div class="mb-3">
     <label for="image_input" class="form-label">Upload Image</label>
     <input type="file" name="entry[image]" id="image_input" class="form-control">
   </div>
 
        <div class="text-center">
           <button class="btn btn-primary w-100">Save</button>
         </div>
       </form>
     </div>
   </div>
 </div>